/* 60 prim color - 30 sec color - 10 accent color */
html {
  background-color: #14094d;
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: 'Bebas Neue', cursive; /* this should be the rest of the output you got from Google Fonts */
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #14094d;
  padding: 20px 10px;
  border-bottom: 5px solid black;
}

/* Style the header links */
.header a {
  float: left;
  color: #e6e0bb;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 50px;
  color: #e6e0bb;
}

/* Change the background color on mouse-over */


/* Style the active/current link*/
.header a.active {
  background-color: #e6e0bb;
  color: #14094d;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
.button {
  background-color: #14094d; /* Green */
  color: e6e0bb;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #e6e0bb;
  color: #14094d;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #e6e0bb;
  border: 5px solid black;
  
  
}
img {
  display: block;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  color : #14094d;
  font-size: 50px;
  text-align: left;
}
h2 {
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  color : #14094d;
  font-size: 50px;
  text-align: left;
}
h3 {
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  color : #14094d;
  font-size: 50px;
  text-align: left;
}

p,
li {
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  color: #14094d;
  font-size: 25px;
  line-height: 1;
}
  
